/* body {
  margin: auto;
  padding: auto;
} */
.gallery {
  width: 1128px;
  display: grid;
  align-items: center;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery_item {
  overflow: hidden;
  position: relative;
}

.gallery_link {
  display: block;

  position: relative;
}

.gallery_image {
  display: block;
  width: 360px;
  height: 200px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery_image:hover {
  transform: scale(1.1);
}
